.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    color: white;
    font-size: max(4.3vw,20px);
    font-weight: 500px;

}
.header-contents p{
    color: white;
    font-size: 1.2vw;
}
.header-contents button{
    
    font-weight: 500;
    padding: 1vw 2.3vw;
    color: #747474;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    transition: 0.3s;
    border: 1px solid rgb(126, 117, 106);
}
.header-contents button:hover{
    background-color: #b6b5b4;
}
@media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    
    .header-contents{
        max-width: 65%;
       
    }
     .header-contents p{
           display: none; 
        }
        .header-contents button{
            padding: 2vw 4vw;
        }
}