.explore-menu{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
    padding: 10px 10px;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
/* Smooth transition for all items */
.explore-menu-list-item img,
.explore-menu-list-item p{
    transition: all 0.3s ease;
}

/* ACTIVE IMAGE GLOW */
.explore-menu-list-item img.active{
    border: 0.5px solid rgb(187, 31, 3);
    box-shadow: 0 0 12px rgba(228, 38, 5, 0.8);
    transform: scale(1.08);
}

/* ACTIVE TEXT GLOW */
.active-text{
    color: rgb(50, 50, 49);
    text-shadow: 0 0 4px rgba(249, 57, 23, 0.8);
    font-weight: 500;
}

@media (max-width:1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}
.explore-menu h1{
    position: relative;
    width: fit-content;
    cursor: pointer;
    transition: text-shadow 0.4s ease, color 0.4s ease;
}
.explore-menu h1:hover{
    color: tomato;
    text-shadow: 0 0 1px rgba(255,99,71,0.6);
}
/* underline */
.explore-menu h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 0%;
    background-color: tomato;
    transition: width 0.6s ease;
}

/* hover animation */
.explore-menu h1:hover::after{
    width: 100%;
}
